*{
    font-size: 24px;
    margin: 0;
    font-family: 'Archivo', sans-serif;
}
a{
    text-decoration: none;
}
#main{
    padding-left: 10%;
    width: 80%;
}
#colorBlock{
    width: 100%;
    background-color: rgb(201, 122, 18);
    height: 90px;
    position: fixed;
    z-index: 1;
}
#colorBlock>i{
    font-size: 2rem;
    padding: 0.3rem 1rem;
    border: lavender solid 1px;
    color: lavender;
    margin-left: 15px;
    margin-top: 13px;
    cursor: pointer;
}
#menu0{
    margin-top: 0.55rem;
    height: 0px;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
}
#menu0>li{
    background-color: rgb(201, 122, 18);
    width: 100%;
    border: black solid 1px;
}
#menu1{
    position: absolute;
    margin-top: 0.5rem;
    height: 0px;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    width: 100%;
}
#menu1>li{
    width: inherit;
    background-color: white;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
}
nav{
    padding-top: 90px;
    height: 90px;
}
nav>i{
    font-size: 2rem;
    padding: 0.3rem 1rem;
    border: rgb(103, 103, 105) solid 1px;
    color: rgb(103, 103, 105);
    margin-left: 15px;
    margin-top: 13px;
    cursor: pointer;
}
#logo{
    width: 50%;
    height: 100%;
    float: right;
    margin-right: 0.5rem;
    top: 1rem;
    right: 0.1rem;
}
#slideshow{
    width: 100%;
    height: 13rem;
}
#proefles{
    margin-top: 2rem;
}
#proefles>div,#location>div,#rijlessen>div{
    padding-left: 2rem;
    width: 100%;
}
#proefles>div>i,#location>div>i,#rijlessen>div>i{
    color: rgb(103, 103, 105);
    font-size: 1.5rem;
    display: inline-block;
}
#proefles>div>h3,#location>div>h3,#rijlessen>div>h3{
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: rgb(103, 103, 105);
}
#proefles>p,#location>p,#rijlessen>p{
    padding-top: 20px;
    padding-left: 1rem;
    margin-left: 1rem;
    width: 16rem;
    border-top: solid 1px rgb(103, 103, 105);
    margin-bottom: 2rem;
    width: 80%;
}
button{
    margin-top: 1rem;
    margin-left: 10%;
    width: 80%;
    height: 3rem;
    font-size: 1.5rem;
    background-color: rgb(201, 122, 18);
    border: 0;
    margin-bottom: 2rem;
}
iframe{
    margin-left: 10%;
    width: 80%;
    height: 10em;
}
#footer{
    margin-top: 1rem;
    text-align: center;
    background-color:  rgb(201, 122, 18);
    padding: 1rem 0;
}
@media (min-width:778px){
    #colorBlock>i{
        display: none !important;
    }
    #colorBlock{
        height: 2rem;
        background-color: rgb(8, 119, 119);
    }
    #logo{
        padding: 1rem 0 1rem 5rem ;
        float: none;
        width: 25%;
        height: 5rem;
        margin-left: 2rem;
    }
    #slideshow{
        width: 100%;
        height: 30rem;
    }
    iframe{
        margin-left: 10%;
        width: 80%;
        height: 25rem;
    }
    #bars1{
        display: none !important;
    }
    #menu0>li{
        background-color: rgb(8, 119, 119);
        display: inline;
        border: none;
        margin-left: 5%;
    }
    #menu0{
        height: 2rem !important;
        padding-left: 20%;
        overflow: hidden;
    }
    #menu1{
        height: 2rem !important;
    }
    #menu1>li{
        position: relative !important;
        display: inline;
        border-top: none;
        border-bottom: none;
    }
    nav{
        padding: 1.5rem 0 0.5rem 0;
        height: 6rem;
    }
    nav>i{
        font-size: 2rem;
        padding: 0.3rem 1rem;
        border: rgb(103, 103, 105) solid 1px;
        color: rgb(103, 103, 105);
        margin-left: 15px;
        margin-top: 13px;
        cursor: pointer;
    }
}